

body {
    background-image: url(../images/background.jpg);
  }


.portfolio-box {
  width: 450px;
  height: 800px;
  background-color: rgba(0,0,0,0.8);
  padding: 40px;
  color:white;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 85px;
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  border-radius: 50%
}

h1 {
  font-weight: 100;
  letter-spacing: 5;
  font-size: 40px;
  font-family: 'Roboto Mono', monospace;
}

.p {
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;

}
.location a{
  color: white;
}
.location {
  font-size: 20px;
  text-align: center;
}

.icons a:hover {
  color: rgba(37,149,246,255);
  transform: 2;
}
.icons {
  transition: 1.1s;
  font-size: 45px;
  letter-spacing: 7.5px;
}

.icons a{
  color: white;
}
.font{
  font-family: 'Roboto Mono', monospace;

}
.line-break {
  width: 140px;
  margin: 0 auto;
  border-top: 1px solid white;
}
.icons-skills a:hover {
  color: rgba(37,149,246,255);
}
.icons-skills{
  transition: 1.1s;
  font-size: 40px;
  letter-spacing: 8px;
}
.icons-skills a{
  color:white;
}

.footer{
  font-family: 'Roboto Mono', monospace;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  text-align:center;
  color:white;
}

